{
  "presets": [
    "env",
    "stage-1",
    "es2015",
    "react"
  ],
  "plugins": [
    "babel-plugin-syntax-class-properties",
    "babel-plugin-transform-class-properties",
    "babel-plugin-syntax-object-rest-spread",
    "babel-plugin-transform-object-rest-spread",
    "babel-plugin-transform-async-to-generator",
    "react-loadable/babel",
    [
      "import-inspector",
      {
        "serverSideRequirePath": true,
        "webpackRequireWeakId": true
      }
    ],
    [
      "system-import-transformer",
      {
        "commonJS": {
          "useRequireEnsure": true
        }
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./app"
        ],
        "alias": {
          "theme": "./app/theme",
          "routes": "./app/routes",
          "utils": "./app/utils",
          "pages": "./app/pages",
          "config": "./app/config",
          "actions": "./app/actions",
          "reducers": "./app/reducers",
          "components": "./app/components",
          "public": "./server/public"
        }
      }
    ]
  ]
}
